N8N_WORKFLOW_Sanitized.json
{
  "name": "Automated Decision-Making (ADM) Legal Compliance Auditor",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -768,
        432
      ],
      "id": "30a31c4e-05e1-4b47-a9d8-8d4697f1b73e",
      "name": "[Ingest] Download Contract Payload"
    },
    {
      "parameters": {
        "content": "# STAGE 1: SECURE INGESTION & CONFIGURATION PIPELINE\n\n**Node 1:** [Trigger] Watch Inbound Google Drive\n\n**Node 2:** ⚙️ [Config] Target Jurisdiction Allocation\n\n**Node 3:** [Ingest] Download Raw PDF Stream\n\n**Node 4:** [Parser] Extract Text & Sanitize Payload\n\n**Node 5:** [Router] Evaluate Document Viability",
        "height": 320,
        "width": 864,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1184,
        16
      ],
      "typeVersion": 1,
      "id": "8226c280-7cd9-47cb-9988-8ac1f729180f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# STAGE 2: MULTI-MODAL COMPLIANCE AUDIT (GEMINI 2.5)\n\n**Node 6 (Text):** [AI Core] ADM Legal Auditor (Text Engine)\n\n**Node 7 (Vision):** [AI Core] ADM Legal Auditor (Vision Engine)",
        "height": 320,
        "width": 384,
        "color": "#784F07"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "3e8b6ce7-b66d-412f-883d-ca876d1de695",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# ⚖️ Enterprise Legal Compliance Auditor\n**Asset ID:** TWA-LEG-2026-V1  \n**Target:** 2026 ADM & Privacy Act Regulatory Audits  \n**Core Engine:** n8n + Google Gemini API + Google Sheets  \n**Built By:** The Workflow Atelier\n\n---\n### 💡 What This Blueprint Achieves\nAutomatically inspects incoming vendor agreements and contracts for regulatory compliance gaps, outputting structured risk data to an executive reporting dashboard in seconds.",
        "height": 352,
        "width": 688,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1968,
        304
      ],
      "typeVersion": 1,
      "id": "ea26e4f0-979f-45e0-9631-cc21dd5a0b77",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=**GENERIC PROMPT: Extract non-compliant CCPA legal clauses from the provided contract document**",
        "inputType": "binary",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        240,
        592
      ],
      "id": "129f507a-33f3-488b-8787-02998e1cde55",
      "name": "[AI Core] Audit ADM Compliance (Vision)",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=**GENERIC PROMPT: Extract non-compliant CCPA legal clauses from the provided contract document**"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        96,
        368
      ],
      "id": "26a84f50-6147-4a92-a993-a383e1bd4382",
      "name": "[AI Core] Audit ADM Compliance (Text)",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d59df2e1-3251-47a1-9b0d-16f680ce4ff2",
              "leftValue": "={{ $json.text.trim().length }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        432
      ],
      "id": "57786c9e-f685-44f0-8e78-ef4a853e4e3e",
      "name": "[Router] Check Document Type"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Document Name": "={{ $('[Trigger] Watch Inbound Google Drive').first().json.name }}",
            "Risk Level": "={{ $json.ai_data.Risk_Level }}",
            "Missing Clause Details": "={{ $json.ai_data.Missing_Clauses }}",
            "#": "={{ $now.toFormat('yyyyMMddHHmmss') ",
            "Date": "={{ $now.toFormat('yyyy-MM-dd HH:mm') }}",
            "Target Jurisdiction": "={{ $json.ai_data.Target_Jurisdiction }}",
            "Action Required": "={{ $json.ai_data.Action_Required }}",
            "Existing Deficient Text (Context)": "={{ $json.ai_data.Deficient_Clause_Quote }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "#",
              "displayName": "#",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Document Name",
              "displayName": "Document Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Target Jurisdiction",
              "displayName": "Target Jurisdiction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Missing Clause Details",
              "displayName": "Missing Clause Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Existing Deficient Text (Context)",
              "displayName": "Existing Deficient Text (Context)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Action Required",
              "displayName": "Action Required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        400
      ],
      "id": "e2e5e7e5-d12d-47b4-b3b6-573106f31417",
      "name": "[Database] Log Audit to Dashboard"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  let rawText = item.json.content?.parts?.[0]?.text || item.json.text || item.json.output || \"\";\n  rawText = rawText.replace(/```json/gi, '').replace(/```/g, '').trim();\n\n  let parsedData = {};\n  try {\n    parsedData = JSON.parse(rawText);\n  } catch (e) {\n    const jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\n    parsedData = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n  }\n\n  const isApplicable = parsedData.Applicable !== false;\n  \n  // Convert array to bulleted string if Gemini outputs an array\n  let missingClauses = parsedData.Missing_Clauses || \"Review document manually.\";\n  if (Array.isArray(missingClauses)) {\n    missingClauses = missingClauses.map(clause => \"• \" + clause).join(\"\\n\");\n  }\n\n  return {\n    json: {\n      ai_data: {\n        Applicable: isApplicable,\n        Document_Type: parsedData.Document_Type || \"Legal Document\",\n        Target_Jurisdiction: parsedData.Target_Jurisdiction || item.json.Target_Jurisdiction || \"US\",\n        Risk_Level: isApplicable ? (parsedData.Risk_Level || \"High\") : \"N/A\",\n        Missing_Clauses: isApplicable ? missingClauses : \"None\",\n        Deficient_Clause_Quote: isApplicable ? (parsedData.Deficient_Clause_Quote) : \"N/A\",\n        Action_Required: isApplicable ? (parsedData.Action_Required || \"Review manually.\") : \"No action needed.\"\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        400
      ],
      "id": "320c642e-e180-45b9-8ffd-339c7ad0f48b",
      "name": "[Transform] Parse JSON Schema"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -592,
        432
      ],
      "id": "4c3bb960-a3d7-4d47-ba78-36234f8ac8c4",
      "name": "[Parser] Extract Raw Contract Text"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('[Ingest] Download Contract Payload').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        96,
        672
      ],
      "id": "f774375f-d3e7-4c5d-9e49-64b70dce3b54",
      "name": "Download file"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8e5a4748-abf6-46f1-8c72-7d1358cb1ed6",
              "name": "Target_Jurisdiction",
              "value": "US",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        432
      ],
      "id": "5df30446-8ea6-45e9-9e08-4d43514e7904",
      "name": "⚙️ REGION CONFIGURATION"
    },
    {
      "parameters": {
        "content": "# STAGE 3: DATA NORMALIZATION & DASHBOARD LOGGING\n\n**Node 8:** [Transform] Enforce JSON Schema\n\n**Node 9:** [Database] Append Audit Record to Sheets",
        "height": 240,
        "width": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        64
      ],
      "typeVersion": 1,
      "id": "0d677b31-8c36-4db4-8529-32935cff8f98",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        432
      ],
      "id": "0df31c3e-7c60-401f-a7f1-d7fdf88a75d0",
      "name": "[Trigger] Watch Inbound Google Drive"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -368,
        432
      ],
      "id": "e1c71fbd-327d-4de8-8f1c-6e86dab26436",
      "name": "[Loop] Batch Execution Throttle1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        896
      ],
      "id": "58e1305a-7bb0-4bdd-ad93-9a3ef9c29194",
      "name": "[Database] Log API Failure Queue"
    },
    {
      "parameters": {
        "content": "🔴 **REQUIRED ACTION: Double-click this node to select your inbound Google Drive folder**",
        "height": 176,
        "width": 176,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1216,
        624
      ],
      "typeVersion": 1,
      "id": "052e9fb7-28d9-42a9-b7f0-1e940270209e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "🔴 **REQUIRED ACTION: Double-click this node to \"Target_Jurisdiction\" to US or AUS or CAN or Global based on you region.**",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        624
      ],
      "typeVersion": 1,
      "id": "ff49be39-f24f-4a28-b2f5-8dee5c262d71",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "🔴 **REQUIRED ACTION:** Double-click this node to select your copied Google Sheet template \"Compliance Audit Dashboard\" & select Sheet as \"Dashboard\"",
        "height": 224,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        608
      ],
      "typeVersion": 1,
      "id": "ebf7d2f9-6d14-486f-9dbe-650602b06166",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "🔴 **REQUIRED ACTION:** Double-click this node to select your copied Google Sheet template \"Compliance Audit Dashboard\" & select Sheet as \"Failed Audits Queue\"",
        "height": 240,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        1088
      ],
      "typeVersion": 1,
      "id": "fdb1c599-6fe9-41a1-9b97-ca9342ecfb99",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "[Ingest] Download Contract Payload": {
      "main": [
        [
          {
            "node": "[Parser] Extract Raw Contract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Router] Check Document Type": {
      "main": [
        [
          {
            "node": "[AI Core] Audit ADM Compliance (Text)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[AI Core] Audit ADM Compliance (Vision)": {
      "main": [
        [
          {
            "node": "[Transform] Parse JSON Schema",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[Database] Log API Failure Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[AI Core] Audit ADM Compliance (Text)": {
      "main": [
        [
          {
            "node": "[Transform] Parse JSON Schema",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[Database] Log API Failure Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Transform] Parse JSON Schema": {
      "main": [
        [
          {
            "node": "[Database] Log Audit to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Parser] Extract Raw Contract Text": {
      "main": [
        [
          {
            "node": "[Loop] Batch Execution Throttle1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "[AI Core] Audit ADM Compliance (Vision)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ REGION CONFIGURATION": {
      "main": [
        [
          {
            "node": "[Ingest] Download Contract Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Trigger] Watch Inbound Google Drive": {
      "main": [
        [
          {
            "node": "⚙️ REGION CONFIGURATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Database] Log Audit to Dashboard": {
      "main": [
        [
          {
            "node": "[Loop] Batch Execution Throttle1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Loop] Batch Execution Throttle1": {
      "main": [
        [],
        [
          {
            "node": "[Router] Check Document Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1babb775-9003-4fa6-8a35-b5087f65ee64",
  "meta": {
    "instanceId": "d331dc749007d27a0954d87fa17ff24445281ea6ea07027f141b2c40a09043d7"
  },
  "nodeGroups": [],
  "id": "GvbJEaDGJFK81M6L",
  "tags": []
}